{% extends 'blogs/base.html' %}
{% load bootstrap4 %}

{% block style %}
<style>
.photo {
    margin-right: 8px;
}
.photo img {
    width: 100%;
}
.delete {
    float: right;
    cursor: pointer;
}
</style>

{% endblock style %}

{% block page_header %}
<h1>为帖子上传图片（非必要）( *︾▽︾)</h1>
{% endblock page_header %}

{% block content %}


<div class="blogpost-photos">
    {% for media in medias %}
    <div class="photo">
        <a href="{% url 'blogs:del_photo' media.id %}" class="delete">x</a>
        <img src="{{ media.image.url }}" alt="{{ media.image }}">
    </span>
    {% endfor %}
</div>

<form action="{% url 'blogs:add_photo' post.id %}" method="post" enctype="multipart/form-data" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button name="submit" class="btn btn-primary">上传</button>
    <a href="{% url 'blogs:add_tag' post.id %}" class="btn btn-primary">完成</a>
    {% endbuttons %}

    <input type="hidden" name="next" value="{% url 'blogs:add_photo' post.id %}">
    
</form>


{% endblock content %}