{% extends "blogs/base.html" %}

{% block style %}
<style>
.tags {
    height: 32px;
    font-size: 16px;
    padding-top: 8px;
    line-height: 32px;
}

.tag {
    display: inline-block;
    margin-right: 5px;
}

.tag a {
    height: 16px;
    background-color: #c8c8d4;
    border-radius: 5px;
}

.pc_photo {
    width: 20%;
    margin-bottom: 5px;
    transition: 0.1s;
}
.pc_photo:hover {
    width: 20.5%;
    transition: 0.1s;
}
.photo {
    width: 100%;
    margin-bottom: 5px;
}
</style>
{% endblock style %}

{% block page_header %}
<h2>"{{ tag }}"下的博客帖子o(*￣▽￣*)o</h2>
{% endblock page_header %}

{% block content %}


{% for post in posts %}
    {% if post.is_top %}
    
    <div class="card mb-3">
        
        <h4 class="card-header" style="background-color: #e9ecef;">
        <a href="{% url 'blogs:blogpost' post.id %}">
            <b>[置顶]</b>
            {{ post.title }}
        </a>
        <small style="font-size: 16px;">
            {{ post.date_added|date:'Y年m月d日,H:i' }}
        </small>
        <span style="float: right;"><a href="{% url 'users:user' post.owner.id %}">{{ post.owner.username }}</a></span>
        {% if user.is_authenticated %}
            {% if user.id == post.owner.id %}
            
            <small style="float: right;" class="mr-3">
                <a href="{% url 'blogs:edit_blogpost' post.id %}"><svg class="bi bi-pencil-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg></a>
            </small>
            {% endif %}
        {% endif %}
        </h4>
        <div class="card-body">
            {{ post.text|linebreaks }}

            {% if post.medias %}
                {% for media in post.medias %}
                <a href="{{ media.image.url }}" class="photo-link"><img class="pc_photo" src="{{ media.image.url }}" alt="{{ media.image }}"></a>
                {% endfor %}
            {% endif %}

            <div class="tags border-top">
                {% for tag in post.tagsO %}
                    {% if tag.main %}
                    <div class="tag">
                        <a href="{% url 'blogs:tag' tag.id %}">{{ tag }}</a>
                    </div>
                    {% endif %}
                {% empty %}
                    <span>无标签</span>
                {% endfor %}

                {% for tag in post.tagsO %}
                    {% if not tag.main %}
                    <div class="tag">
                        <a href="{% url 'blogs:tag' tag.id %}">{{ tag }}</a>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        
    </div>
    
    {% endif %}
{% endfor %}

{% for post in posts %}
    {% if not post.is_top %}
    
    <div class="card mb-3">
        
        <h4 class="card-header {% if not is_pc %}mobile_card-header{% endif %}" style="background-color: #e9ecef;">
            <a href="{% url 'blogs:blogpost' post.id %}">
                {{ post.title }}
            </a>
            <small style="font-size: 16px;">
                {{ post.date_added|date:'Y年m月d日,H:i' }}
            </small>
            <span style="float: right;"><a href="{% url 'users:user' post.owner.id %}">{{ post.owner.username }}</a></span>
            {% if user.is_authenticated %}
                {% if user.id == post.owner.id %}
                <small style="float: right;" class="mr-3">
                    <a href="{% url 'blogs:edit_blogpost' post.id %}"><svg class="bi bi-pencil-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg></a>
                </small>
                {% endif %}
            {% endif %}
        </h4>
        <div class="card-body">
            {{ post.text|linebreaks }}

            {% if post.medias %}
                {% for media in post.medias %}
                <a href="{{ media.image.url }}" class="photo-link"><img class="pc_photo" src="{{ media.image.url }}" alt="{{ media.image }}"></a>
                {% endfor %}
            {% endif %}

            <div class="tags border-top">
                {% for tag in post.tagsO %}
                    {% if tag.main %}
                    <div class="tag">
                        <a href="{% url 'blogs:tag' tag.id %}">{{ tag }}</a>
                    </div>
                    {% endif %}
                {% empty %}
                    <span>无标签</span>
                {% endfor %}

                {% for tag in post.tagsO %}
                    {% if not tag.main %}
                    <div class="tag">
                        <a href="{% url 'blogs:tag' tag.id %}">{{ tag }}</a>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    
    {% endif %}
{% empty %}
    <p>都是空~！◑﹏◐</p>
    
{% endfor %}


{% endblock content %}