{% extends "blogs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
<h1>编辑用户资料（￣︶￣）↗　</h1>
{% endblock page_header %}

{% block content %}

{% if birthday %}
<span>↓{{ birthday|date:'Y年m月d日' }}</span>
{% endif %}
<form action="{% url 'users:edit_property'%}" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button class="btn btn-primary">完成</button>
    {% endbuttons %}

    <input type="hidden" name="next" value="{% url 'users:edit_property'%}">
</form>

{% endblock content %}